.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


// COLORES CORTOS
.cp
  color: $color-primario !important

.cs
  color: $color-secundario !important
  
.cac
  color: $color-acento-contenido !important

.cab
  color: $color-acento-botones !important

.cn1
  color: $color-neutral-1 !important

.cst
  color: $color-tipografia !important

.cad
  background-color: rgb(0, 78, 150) !important

//BORDES
// Líneas/Rayas alrededor de un párrafo
.borde-lineas
  border-width: 2px
  border-style: dashed
  border-color: #004B89

.banner-principal__img
  width: auto